* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
}
 .navbar {
    background-color: #232323;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
.navbar-logo {
    color: #c3c3c3;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.navbar-text > span {
    display: flex;
    color: #44ffff;
    font-size: 12px;
    font-weight: medium;
}
.navbar-links > a {
    color: #c3c3c3;
    font-size: 14px;
    font-weight: medium;
    margin: 0 10px;
}
.navbar-links > a:hover {
    color: #44ffff;
}
.hero  {
    background-color : #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.hero-title {
    color: #c3c3c3;
    font-size: 24px;
    font-weight: medium;
    text-align: center;
    margin-bottom: 20px;
}
.hero-container {
    background-color: #c3c3c3;
}
